.elemWidth {    
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.firstrow{
	min-height: 350px;
}

.bg_textbox{	
	background-color: #eff0f1;
}

.error {
   color: #ff0000;
   font-size: 12px;
   margin-left: 5px;
}
 
.inputTxtError {
   border: 1px solid #ff0000;
   color: #0e0e0e;
}

div#div1'{
	
}
